.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }

  .feature-list {
    width: 100%;
    @media screen and(min-width:768px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .feature-item {
      width: 100%;
      margin: 0px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: 768px) {
        width: 354px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        margin-bottom: 0px;
      }

      .title {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media screen and(min-width:768px) {
          text-align: left;
        }
      }

      .text {
        color: $title-text-color;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
      }
    }

    .feature-item-container {
      height: 120px;
      width: 100%;
      background: $secondary-background-color;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      .icon {
        width: 70px;
        height: 70px;
      }
    }
  }
}
