.button-menu {
  padding-top: 94px;
  padding-bottom: 50px;
  .container {
    display: flex;
    justify-content: center;
    h2 {
      display: none;
    }
    .buttons {
      .button {
        text-decoration: none;
        &:hover {
          color: $primary-white-color;
          background-color: $accent-color;
          transition: all $time;
        }
      }
      a {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background: $secondary-background-color;
        padding: 6px 22px 6px 22px;
        margin-right: 8px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
          0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
      }
    }
  }
}
