$primary-text-color: rgba(0, 0, 0, 0.8);
$title-text-color: #000000;
$primary-white-color: #ffffff;
$primary-category-color: #757575;
$accent-color: #18a0fb;
$secondary-accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$time: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$customers-color: #afb1b8;